main .site_title{
    background: url("../images/background_cutting.png");
    width:100%;
    background-size: cover;
    height: 40vh;/*vh 뷰포트 height의 약자로 화면 크기를 기준으로 한 높이(1vh는 10px)*/
    /*width: 100%;*/
    display: flex;
    justify-content: center;

}

main .site_menu{

    padding: 4rem 20rem;
    /*background-color: #a3a3a3;*/
}



main .site_menu .introduce{
    padding-bottom: 3rem;
}
main .site_menu .introduce strong{
    background-color: aqua;
}


main .site_menu_name{

    text-align: center;
}

main .site_menu .container {
    background-color: #f0f4f5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*height: auto;*/
    justify-content: center;
    padding: 0 12rem;
}

main .site_menu .container .item{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}
main .site_menu .container .item img{
    width: 90px;
    height: 90px;
}

main .site_menu .container .item p{
    font-size: 1.2rem;
}