.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(56, 64, 60, 0.6);
    /*opacity: 0.9;*/
    padding: 0.8rem 2rem;
    position: fixed;
    height: 8vh;
    top: 0;
    left: 0;
    right: 0;
    /*transform: scale(1.2);*/
    transition: height 1s ease-in-out;
}

.navbar_logo{
    color: var(--text-color);
    padding-left: 8rem;
}

.navbar_menu{
    display: flex;
    align-items: flex-start;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li{
    padding: 0.8rem 1.2rem;
}

.navbar_menu li:hover{
    background-position: center;
    background-color: #f0f4f5;
    border-color: var(--black-color);
    border-style: solid;
    border-bottom-width: 0.2rem;
    border-right-width: 0.2rem;
    /*border-bottom-width: thick;*/
    border-radius: 10rem;
    /*opacity: 1;*/
}

.navbar_menu li:hover a{
    /*li hover 시에 a태그의 텍스트 컬러 변경하는 방법*/
    color: var(--black-color);
}




/*.navbar_menu a:hover{*/
/*    color: #000000;*/

/*}*/


.navbar_social_icons{
    list-style: none;
    display: flex;
    color: var(--text-color);

}

.navbar_social_icons li{
    padding: 0.8rem 1.2rem;
}

.navbar_toggle_btn {
    display: none;
    position: absolute;
    right: 3.6rem;
    /*font-size: 24px;*/
    color: var(--text-color);
    transition: transform 300ms ease-in-out;

}