/*
.container{
    background: bisque;
    height: 100vh;
    display: flex;
    flex-direction: row;
    !*기본값은 row*!
    flex-wrap: wrap;
    !*기본값은 nowrap*!
    !*wrap 한줄에 꽉차게 되면 다음 열로 넘어감*!
    !*wrap-reverse 한줄에 꽉차게 되어 다음열로 넘어갈때 거꾸로 넘어감*!


    !*flex-flow: column nowrap;*!
    !*flex-direction과 flex-wrap 두가지를 합한것*!

    !*justify-content: flex-end;*!

    !*!!!중심축에서 아이템들을 배치한다.*!
    !*flex direction과 다르게 아이템열은 그대로 유지하며 아이템만 밑에서
    시작하게된다.*!
    !*아이템들을 어떻게 배치할것인지 결정해준다.*!



    !*justify-content: space-around;*!
    !*좌우측 끝쪽의 여백은 1칸씩 들어가고 아이템 사이의 공간은 2칸씩 공간이 생기게된다.*!




    !*justify-content: space-between;*!
    !*좌우측은 벽에 붙여주고 아이템 사이간격만 여백*!



    !*justify-content: space-evenly;*!
    !*좌,우,아이템 사이 모두 똑같은 여백으로*!


    align-items: center;
    !*수직 중심축에서 어떻게 할것인지*!
    !*baseline 각각의 아이템들이 padding으로 인해 텍스트 위치가 다르다면
    baseline을통해 아이템들의 크기는 다르지만 텍스트위치는 조정할수있다.*!


    !*align-content: ;*!
    !*아직 최신브라우저외에서는 적용안되는 부분도 많음*!



}

.item{
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.item1{
    background: #fd0005;
    padding-top: 20px;

    flex-grow: 1;
    !*아이템의 가로 크기를 전체 컨테이너에 꽉차게 할수있도록*!
    flex-shrink: 1;
    !*컨테이너가 점점 작아졌을때 어떻게 행동하느냐*!

    align-self: center;
    !*아이템 별로 정렬 아이템 하나만*!

}
.item2{
    background: #fda100;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 50%;
    !*기본값은 auto*!
    !*%로 적용한다.*!
    !*아이템들이 공간을차지할때 세부적으로 명시할수있는 방법*!

}

!*css 공부적용하기*!
*/

@import "reset.css?ver=1";
@import "navbar.css?ver=1";
@import "main.css?ver=1";
@import "numberGame.css?ver=1";
@import "typingGame.css?ver=1";
@import "gretting.css?ver=1";
@import "maxWidth(768px).css?ver=1";
/*@import "typingGame.css";*/
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean');

:root{
    --text-color: #f0f4f5;
    --background-color: #65a3f8;
    --accent-color: #d49466;
    --black-color: #000000;
    --white-color: #2f2929;
    --clear-color: #00ff0000;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Do Hyeon', sans-serif;
    /*font-size: 40px;*/
}

a{
    text-decoration: none;
    color: var(--text-color);
}
html{
    scroll-behavior: smooth;
}

h1{
    font-size: 3rem;
}
h2{
    text-align: center;
    font-size: 1.5rem;
}

hr{
    padding: 0 3rem;
}















