@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean');

:root{
    --text-color: #f0f4f5;
    --background-color: #65a3f8;
    --accent-color: #d49466;
    --black-color: #000000;
    --white-color: #2f2929;
    --clear-color: #00ff0000;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Do Hyeon', sans-serif;
    /*font-size: 40px;*/
}

a{
    text-decoration: none;
    color: var(--text-color);
}
html{
    scroll-behavior: smooth;
}

h1{
    font-size: 3rem;
}
h2{
    text-align: center;
    font-size: 1.5rem;
}

hr{
    padding: 0 3rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(56, 64, 60, 0.6);
    /*opacity: 0.9;*/
    padding: 0.8rem 2rem;
    position: fixed;
    height: 5rem;
    top: 0;
    left: 0;
    right: 0;
    /*transform: scale(1.2);*/
    transition: height 1s ease-in-out;
}

.navbar_logo{
    color: var(--text-color);
    padding-left: 8rem;
}

.navbar_menu{
    display: flex;
    align-items: flex-start;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li{
    padding: 0.8rem 1.2rem;
}

.navbar_menu li:hover{
    background-position: center;
    background-color: #f0f4f5;
    border-color: var(--black-color);
    border-style: solid;
    border-bottom-width: 0.2rem;
    border-right-width: 0.2rem;
    /*border-bottom-width: thick;*/
    border-radius: 10rem;
    /*opacity: 1;*/
}

.navbar_menu li:hover a{
    /*li hover 시에 a태그의 텍스트 컬러 변경하는 방법*/
    color: var(--black-color);
}




/*.navbar_menu a:hover{*/
/*    color: #000000;*/

/*}*/


.navbar_social_icons{
    list-style: none;
    display: flex;
    color: var(--text-color);

}

.navbar_social_icons li{
    padding: 0.8rem 1.2rem;
}

.navbar_toggle_btn {
    display: none;
    position: absolute;
    right: 3.6rem;
    /*font-size: 24px;*/
    color: var(--text-color);
    transition: transform 300ms ease-in-out;

}

main .site_title{
    background: url("../images/background_cutting.png");
    width:100%;
    background-size: cover;
    height: 40vh;/*vh 뷰포트 height의 약자로 화면 크기를 기준으로 한 높이(1vh는 10px)*/
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;

}

main .site_menu{

    padding: 4rem 20rem;
    /*background-color: #a3a3a3;*/
}



main .site_menu .introduce{
    padding-bottom: 3rem;
}
main .site_menu .introduce strong{
    background-color: aqua;
}


main .site_menu_name{

    text-align: center;
}

main .site_menu .container {
    background-color: #f0f4f5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*height: auto;*/
    justify-content: center;
    padding: 0 12rem;
}

main .site_menu .container .item{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}
main .site_menu .container .item img{
    width: 90px;
    height: 90px;
}

main .site_menu .container .item p{
    font-size: 1.2rem;
}

.msg {
    font-size: 1.5em;
    margin-top: 40px;
}

.inputNumber{
    width: 20vw;
    height: 3rem;
    font-size: 1.5rem;
    margin: 0.5rem 0.5rem;
    text-align: center;
    border: 4px solid #345893;
}

.submitButton{

    width: 20vw; /* 부모 400px 영역 안의 100% 사용 */
    text-align: center;
    border: 4px solid #345893;
    background-color: #3498db;
    color:white;
    font-size:1.5rem;
    margin: 0.5rem 0.5rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-sizing: border-box;
    text-decoration: none;
}

.submitButton:hover{
    /* 버튼에 마우스 오버한 경우에 ::after 요소의 컬러를 애니메이션하기 위해 투명도로 변경 */
    background-color: transparent;
    color: #0B93BD;
}

.guesses{

}

.result{

}





/*768px 이하에서 css 처리*/
@media screen and (max-width: 768px){
    .navbar{

        flex-direction: column;
        align-items: flex-start;
        /*padding: 0.8rem 2.4rem;*/

    }

    .navbar_logo{
        color: var(--text-color);
        padding-left: 1rem;
    }

    .navbar_menu{
        display: none;
        /*vertical-align: middle;*/
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
        transition: 10s;


    }

    .navbar_menu li{
        width: 80%;
        /*margin: 1rem;*/
        text-align: center;
    }

    .navbar_social_icons{
        display: none;
        justify-content: center;
        width: 100%;

    }


    .navbar_toggle_btn{
        display: block;
    }
    .navbar_menu.active{
        display: flex;
        transform: inherit;


    }
    .navbar_social_icons.active{
        display: flex;

    }

    main .site_title{
        background: url("../images/background.png");
        background-size: cover;
        height: 30vh;/*vh 뷰포트 height의 약자로 화면 크기를 기준으로 한 높이(1vh는 10px)*/
        /*width: 100%;*/
        width: 100%;
        display: flex;
        justify-content: center;

    }

    main .site_menu{
        padding: 4rem;

    }
    main .site_menu .container{
        padding: 0;
    }

    main .site_menu .container .item{
        padding: 0.8rem;
    }





}
